/* --------------------------
  Base
--------------------------- */

body {
  padding-top: 60px;
	background: #0f4e7a;
}

svg {
	margin: auto;
  display: block;
	width: 28%;
}

/* --------------------------
  Keyframes
--------------------------- */
@keyframes movestarup {

  0% {
    transform: translateY(100px);
  }

  70%{
    transform: translateY(-30px);
  }

	100% {
		transform: translateY(0px);
	}
}


/* --------------------------
  SVG Styles
--------------------------- */

.star {
  animation: movestarup .4s ease-in backwards;
}

.stars .star:nth-of-type(1) {
  animation-delay: .3s;
}

.stars .star:nth-of-type(3) {
  animation-delay: .6s;
}
