/* --------------------------
  Base
--------------------------- */

body {
  padding-top: 60px;
	background: #0f4e7a;
}

svg {
	margin: auto;
  display: block;
	width: 28%;
}

/* --------------------------
  Keyframes
--------------------------- */
@keyframes movestarup {

  50% {
    transform: translateY(-10px);
  }

  80%{
    transform: translateY(10px);
  }

	100% {
		transform: translateY(0px);
	}
}

@keyframes rotateyellow {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15) rotate(-5deg);
    opacity: 1;
    fill: #fdf097;
  }

  100% {
    transform: scale(1);
  }

}

@keyframes drawcircle {

  60% {
    stroke-opacity: 1;
  }

	100% {
		stroke-dashoffset: 0;
	}
}

/* --------------------------
  SVG Styles
--------------------------- */
.stars * {
  transform-origin: 125% 150%;
}

.star {
  transform: translateY(180px);
  animation: movestarup .5s forwards, rotateyellow .6s ease-out forwards;
}

.stars .star:nth-of-type(1) {
  animation-delay: .5s, 1.8s;
}

.stars .star:nth-of-type(2) {
  animation-delay: 0s, 1.5s;
}

.stars .star:nth-of-type(3) {
  animation-delay: .8s, 2s;
}

.stars-bg {
	stroke-opacity: 0;
  stroke-dasharray: 815;
  stroke-dashoffset: 815;
	animation: drawcircle .8s 2.2s linear forwards;
}