/* --------------------------
  Base
--------------------------- */

body {
  background: #8069a1;
  padding-top: 60px;
}

svg {
	margin: auto;
  display: block;
}

/* --------------------------
  Keyframes
--------------------------- */

@keyframes grow {
  0%{
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}


@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  60% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(355deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* --------------------------
  SVG Styles
--------------------------- */

.badge * {
  transform-origin: 180px 180px;
}

.outer,
.inner, 
.inline {
  animation: grow 1s ease-out backwards;
}

.inner {
  animation-delay: .1s;
}

.inline {
  animation-delay: .15s
}

.star {
  animation: turn 1.1s .2s ease-out backwards;
}